.commodityTitle {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  padding: 10px 0;
  :global {
    .adm-input-element::placeholder {
      font-weight: 400;
      font-size: 24px;
      color: #b6b6b6;
      line-height: 28px;
    }
  }
  &_filter {
    width: 48px;
    height: 48px;
    margin: 0 26px 0 30px;
  }
  &_scan {
    width: 40px;
    height: 40px;
    margin: 0 34px 0 30px;
  }
}
.commodityWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: 80px;
  :global {
    .adm-card {
      background-image: linear-gradient(0deg, #ffffff 46%, #d9edff 100%);
    }
  }

  &_content {
    width: calc(50% - 8px);
    margin-top: 16px;
    &_number {
      display: flex;
      align-items: center;
      margin: 16px 0;
      &_left {
        width: 38px;
        height: 38px;
        background: #015dff;
        border-radius: 19px;
      }
      &_right {
        margin-left: 8px;
        font-weight: 600;
        font-size: 20px;
        color: #333333;
        line-height: 28px;
      }
    }
    &_picture {
      width: 100%;
      height: 296px;
      img {
        width: 302.6px;
        height: 296px;
      }
    }
  }
}
