.menuWrap {
  display: flex;
  flex-wrap: wrap;
  &_content {
    width: 33.3333%;
    height: 224px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    text-align: center;
    line-height: 28px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    &_image {
      margin: 36px 0 20px 0;
      img {
        width: 110px;
        height: 110px;
      }
    }
    &:nth-of-type(3n) {
      border-right: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}
