html,
body,
:global(#root) {
  height: 100%;
  width: 100%;
}
:root:root {
  --adm-color-primary: #0058FF;
  --adm-bg-primary: #e1e6ff;
  --adm-bg-success: #e0fff4;
  --adm-bg-warning: #ffe9d4;
  --adm-bg-danger: #ffdfe1;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-white: #fff;
  --adm-color-weak: #999;
  --adm-color-light: #ccc;
  --adm-border-color: #eee;
  --adm-font-size-main: 13px;
  --adm-color-text: #333;
}
html { 
  font-size: 13.333333333333333vw;
}
body{
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 540px) {
  html {
   font-size: 28.8px;
  }
}
 @media screen and (max-width: 320px) {
    font-size: 17.06667px;
}  