:root:root {
  --adm-color-primary: #11C66F;
}
html { 
  font-size: 13.333333333333333vw;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.cloth-wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .cloth-item{
    width: 343px;
    height: 392px;
    background: #F5F5F5;
    border-radius: 16px;
    vertical-align: middle;
  }
}
button{
  width: 700px;
  margin-top: 20px;
}
@media screen and (min-width: 540px) {
  html {
   font-size: 28.8px;
  }
}
 @media screen and (max-width: 320px) {
    font-size: 17.06667px;
}  